<!DOCTYPE html>
{% extends "myApp/header.html" %}
{% block body %}
     <div style="margin-top: 1%" id="register">
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                        <form align="center" id="register-form" action="{% url 'register' %}" class="form"  enctype= "multipart/form-data" method = "POST">
                            <h3 class="text-center text-info">Register</h3>
                            <br>  <br>  <br>
                            <div class="form-group">
                                <label for="username" class="text-info">Username</label> <br>
                                {{ form.username }} <br> <br>

                                <label for="email" class="text-info">Email</label> <br>
                                {{ form.email }} <br> <br>

                                <label for="vmail" class="text-info">Verify email</label> <br>
                                {{ form.vmail }} <br> <br>

                                <label for="password" class="text-info">Password</label> <br>
                                {{ form.password }} <br> <br>

                                <label for="vpassword" class="text-info">Verify password</label> <br>
                                {{ form.vpassword }} <br> <br>

                                {{ form.bot }}

                                {% csrf_token %}
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="register-link" class="text-right">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


