# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
migrations/
media/
settings.py

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.DS_Store
.idea
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
**.idea/**